<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PROJECT AND SUPERVISORS</title>
  </head>
  <body>
    <h1>WELCOME TO PROJECT AND SUPERVISORS</h1>
    <a href="/projects/list">Projects</a>
    <a href="/supervisors">Supervisors</a>
  </body>
</html>
