<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PROJECT</title>
  </head>
  <body>
    <a href="/projects/list">List Projects</a>
    <a href="/projects/add">Add Projects</a>
  </body>
</html>
