<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SUPERVISORS</title>
  </head>
  <body>
    <a href="/supervisors/list">List Supervisors</a>
    <a href="/supervisors/add">Add Supervisors</a>
  </body>
</html>
